<div class="container w-100">

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">Seja Bem vindes ao meu Blog!</h1>
        </div>
    </div>

    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Olá sou Ana Eusébio da Silva, angolana,
                atualmente residente na cidade de São Paulo, tenho 25 anos. Sou formada em Engenharia de Produção pela Universidade Anhembi Morumbi.
                Participei de eventos na faculdade como voluntária, organizando a semana da engenharia, uma semana de imersão de aprendizado com palestras, minicursos, projetos e muito mais.
                Voluntária do UNICEF Brasil como organizadora digital .

            </p>
        </div>
    </div>
</div>

<div class="parallax"></div>

<div class="row w-100 md-5 mt-5">
    <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-dark text-uppercase font-weight-bold">Ver o feed</button>
    </div>
</div>